.chat-header {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: var(--chat-header-height);
    padding: 0rem 0.5rem;
    background: var(--primary-900);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header h1 {
    color: var(--white-stay);
    margin: 0;
    font-size: 1.25rem;
}

