.chat-body {

    height: calc(100vh - var(--chat-header-height) - var(--chat-input-height));
    overflow-y: scroll;
    width: 100%;
    border: 1px solid red;
    background: var(--white);
    display: flex;
    flex-direction: column;
}